/* Set the background color for the entire application to a dark color */
.root {
    -fx-background-color: #89fd03; /* Dark gray background */
    -fx-background-image: url('whatsup.jpg');

}
.text {
    /*-fx-fill: black; !* Text color *!*/
    -fx-font-family: "Times New Roman"; /* Use Arial font (replace with your desired font) */


}
/* Style the window title text */
.root .root-title .window .labels-text  {
    -fx-text-fill: white; /* Title text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */
    -fx-font-weight: bold; /* Bold font */
}

/* Style the header text */

/* Style the TabPane */
.tab-pane {
    -fx-background-color: RED; /* Dark gray background color */
    -fx-text-background-color: white; /* Tab text color */

    -fx-tab-min-height: 30;
    -fx-tab-min-width: 50;
}

/* Style the tabs */
.tab {

    -fx-background-color:aliceblue
    -fx-text-fill: white; /* Set tab text color to white */
    -fx-text-background-color:WHITE;
    -fx-font-family: "Calibri"; /* Use Arial font (replace with your desired font) */
    -fx-font-size:13;
    -fx-font-weight: bold; /* Bold font */
}

/* Style the buttons */
.button {
    -fx-background-color: #15913C; /* Darker green button background */
    -fx-text-fill: WHITE; /* Button text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */
}


/* Style the text fields */
.text-field {
    -fx-background-color: #333333; /* Dark gray background */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */
}

/* Style the text area */
.text-area {
    -fx-background-color: #333333; /* Dark gray background */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */
}

/* Style the ListView */
.list-view {
    -fx-background-color: rgba(0,0,0,0); /* Dark gray background color */
    -fx-text-background-color: white; /* ListView text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */

}

/* Style the ListView items */
.list-cell {
    -fx-background-color : rgba(0,0,0,0.1);
    -fx-text-fill: white; /* ListView item text color */
    -fx-font-family: "Arial"; /* Use Arial font (replace with your desired font) */
}

#punch {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
    -fx-text-shadow: 5px 5px;
    -fx-text-fill: white ;
}

.my-buttons{
    -fx-font-size: 18;
    -fx-text-fill: #f8f8f8;
    -fx-translate-y: 10;
}

#header{
    -fx-text-fill: white ;
}

.labels-newUserUI
{
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Calibri";
}

.tabpane-allchats{
    -fx-background-color: rgba(2, 0, 15, 0.3);
}

.allchats-pane{
    -fx-background-color : rgba(0,0,0,0.1);
}

#profiletab{
    -fx-text-fill:WHITE;
}

.set-button{
   -fx-translate-y : 10;
}

.client-chatbg{
    -fx-control-inner-background: rgba(25, 77, 61,0.9);

}
.profilepane{
    -fx-background-color: #FF5733;
}

.text{
    -fx-text-fill: WHITE;
}



